* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #b30000;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
    font-weight: bold;
}

.logo img {
    width: 180PX;
    height: height;
    object-fit: contain;
}

.menu a {
    color: white;
    text-decoration: none;
    margin-left: 30px;
    font-weight: bold;
}

.menu a:hover {
    text-decoration: underline;
}

/* HERO */
.hero {
    text-align: center;
    padding: 120px 20px;
    background: linear-gradient(135deg, #f4f4f4, #e6e6e6);
}
.hero h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.hero p {
    margin-bottom: 30px;
}

.btn {
    background-color: #0d6efd;
    color: white;
    padding: 12px 25px;
    border-radius: 6px;
    text-decoration: none;
    display: inline-block;
}

.btn:hover {
    background-color: #084298;
}

/* CONTENT */
.content {
    padding: 80px 40px;
    text-align: center;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 40px;
    align-items: center;
}

.card {
    background: #f4f4f4;
    padding: 25px;
    width: 700px;
    border-radius: 10px;
    text-align: left;
}

body {
    font-size: 28px;
}

h1 {
    font-size: 72px;
}

.navbar {
    padding: 25px 60px;
}

.content {
    max-width: 1400px;
    margin: auto;
}
